
@{
    ViewData["Title"] = "招新";
    var departmentDic = (Dictionary<int, string>)ViewData["departmentDic"];
}
@model List<MT.SJAlpha.EFCoreCodeFirst.Entitis.User>
<table class="table table-bordered table-responsive table-responsive" >
    <thead>
        <tr>
            <th>#</th>
            <th>学号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>院系</th>
            <th>时间</th>
            <th>加入理由</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var item in Model)
       {
        <tr>
            <td>@item.Id</td>
            <td>@item.Account</td>
            <td>@item.Name</td>
            <td>@item.Sex</td>
            <td>@Html.Raw(departmentDic.GetValueOrDefault(item.DepartmentId))</td>
            <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td>@item.Remark</td>
        </tr>
       }
    </tbody>
</table>

