@model List<MT.SJAlpha.EFCoreCodeFirst.Entitis.User>
@{
    ViewData["Title"] = "转正设置";
    var departmentDic = (Dictionary<int, string>)ViewData["departmentDic"];
    var type = (string)ViewData["type"];
}
<ol class="breadcrumb">
    <li><a href="/User/Recruit">申请列表</a></li>
    <li><a href="/User/ShenHe">审核</a></li>
    <li class="active">转正</li>
</ol>
<input type="hidden" id="type" value="@type" />
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a data-toggle="tab" href="#audited">待转正（@ViewData["auditedCount"]）</a></li>
    <li role="presentation"><a data-toggle="tab" href="#now">已转正(@ViewData["nowCount"])</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="audited">
        <div class="table-responsive">
            <table class="table table-bordered" style="margin-top:10px;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>电话</th>
                        <th>院系</th>
                        <th>时间</th>
                        <th>加入理由</th>
                        <th>转正</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(a => a.Type == "audited"))
                    {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Account</td>
                        <td>@item.Name</td>
                        <td>@item.Sex</td>
                        <td>@item.PhoneNumber</td>
                        <td>@Html.Raw(departmentDic.GetValueOrDefault(item.DepartmentId))</td>
                        <td>@item.CreateTime.ToString("yyyy-MM-dd")</td>
                        <td style="font-size:10px;max-width:420px;">@item.Remark</td>
                        <td>
                            <form action="/User/ZhuanZheng" method="post">
                                <input type="hidden" name="type" value="@type" />
                                <input type="hidden" name="id" value="@item.Id" />
                                <button type="submit" class="btn btn-xs btn-success">转正</button>
                            </form>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="tab-pane fade" id="now">
        <div class="table-responsive">
            <table class="table table-bordered" style="margin-top:10px;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>电话</th>
                        <th>院系</th>
                        <th>时间</th>
                        <th>加入理由</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(a => a.Type == "now"))
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Account</td>
                            <td>@item.Name</td>
                            <td>@item.Sex</td>
                            <td>@item.PhoneNumber</td>
                            <td>@Html.Raw(departmentDic.GetValueOrDefault(item.DepartmentId))</td>
                            <td>@item.CreateTime.ToString("yyyy-MM-dd")</td>
                            <td style="font-size:10px;max-width:420px;">@item.Remark</td>
                            <td>
                                <form action="/User/ZhuanZhengCancel" method="post">
                                    <input type="hidden" name="type" value="@type" />
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <button type="submit" class="btn btn-xs btn-danger">取消转正</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $().ready(function () {
            var type = $('#type').val();
            $('a[href="#' + type + '"]').tab('show')
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                // 获取已激活的标签页的名称
                var activeTab = $(e.target).attr("href").replace('#', '');
                $('input[name="type"]').val(activeTab);
            });
        });
    </script>

}


